<%= form_for @donor do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :organization_name %><br />
    <%= f.text_field :organization_name %>
  </p>
  <p><%= f.submit %></p>
<% end %>