<%- content_for(:title) { "Reanimation Library - Catalog - Advanced Search" } -%>
<h2>Advanced Search</h2>
<form method="get" action="<%= search_path %>#search_results">
  <p><label for="search_id">Item ID:</label><br />
    <input type="text" name="id" value="<%= params[:id] %>" /></p>
  <p><label for="search_title">Title: </label><br />
  <input type="text" name ="title" value="<%= params[:title] %>"/></p>
  <p><label for="subjects">Subjects: </label><br />
  <input type="text" name ="subjects" value="<%= params[:subjects] %>"/></p>
  <p><label for="creators">Creators: </label><br />
  <input type="text" name ="creators" value="<%= params[:creators] %>"/></p>
  <p><label for="copyright">Copyright year: </label><br />
  <input type="text" name ="copyright" value="<%= params[:copyright] %>"/></p>
  <p><label for="image_color">Image color: </label><br />
  <%= select "search", "image_color", ImageColor.order(:name).map(&:name), :include_blank=>true %></p>
  <p><label for="image_type">Image type: </label><br />
  <%= select "search", "image_type", ImageType.order(:name).map(&:name), :include_blank=>true %></p>
  <p><label for="collection">Collection:</label><br />
  <%= raw(select "search", "collection_name", DISPLAY_COLLECTIONS, :include_blank=>true) %></p>
  <p>  
    <input type="checkbox" name ="is_public_domain" value="true" <%= 'checked="checked"' unless params[:is_public_domain].blank? %>/> &nbsp;Public Domain Only <br />
</p>
  <input type="submit" value="search" /> 
  <input type="hidden" name="advanced" value="true" />
</form>