<h2>
	Hello, <%= @current_user.username %>
</h2>
<p>
	<%= link_to 'catalog a new item', new_item_path, :class=>"dashboard" %><br />
	<%= link_to 'catalog a new work', new_work_path, :class=>"dashboard" %><br />
	<%= link_to 'catalog a new exhibition', new_exhibition_path, :class=>"dashboard" %><br />
	
	<%= link_to 'view a list of items awaiting images / cataloging', acquired_items_path, :class=>"dashboard" %>
</p>

