  <p>
	<%= f.label :title %><br />
	<%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <p><%= f.label :venue %></p>
  <p id="exhibition_venue">
  <%= render :partial => 'exhibition_venue_select', :locals=>{:f=>f} %>

  </p>
  <p><%= new_association_link "... or click here to add new venue", f, "exhibition_venue" %></p>
  <p><%= association_select_link "... or click here to select an existing venue", f, "exhibition_venue" %></p>
  
  <p><%= f.label :works, "Artworks involved in this exhibition"%></p>
  <div id="exhibition-works">
	 <% for work in Work.find(:all) %>  
	     <div>  
	       <%= check_box_tag "exhibition[work_ids][]", work.id, @exhibition.works.include?(work) %>  
	       <%= work.title %>
	     </div>  
	 <% end %>	
  </div>
  
  <p>
    <%= f.submit %>
  </p>