<p>
  <b>Title:</b>
  <%=h @exhibition.title %>
</p>
<p>
  <b>Start date:</b>
  <%=h @exhibition.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @exhibition.end_date %>
</p>

<p>
  <b>Location:</b>
  <%=h @exhibition.exhibition_venue.name %>
</p>


<%= link_to 'Edit', edit_exhibition_path(@exhibition) %> |
<%= link_to 'Back', exhibitions_path %>