<% form_for @work do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :medium %><br />
    <%= f.text_field :medium %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :year_created %><br />
    <%= f.text_field :year_created %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </p>
  <p><%=f.label :items %>
  </p>
  <div id="items">
  <% f.fields_for :items do |item_form| %>
    <%= render :partial => 'item', :locals => {:f => item_form} %>
  <% end %>
</div>
<p><%= add_child_link "click here to add a new creator", f, :creators %>  </p>

  <p><%= f.submit %></p>
<% end %>
