<% form_for @work do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :medium %><br />
    <%= f.text_field :medium %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :year_created %><br />
    <%= f.text_field :year_created %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </p>
  <p><%=f.label :items, "Items used for work" %>
  </p>
  <div id="work-items">
	 <% for item in Item.find(:all) %>  
	     <div>  
	       <%= check_box_tag "work[item_ids][]", item.id, @work.items.include?(item) %>  
	       <%= item.title %><%= item.subtitle.blank? ? "" : ": #{item.subtitle}" %>  
	     </div>  
	 <% end %>
  </div>

  <p><%= f.submit %></p>
<% end %>
