<% form_for @work, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p><%=f.label :creators %></p>
  <p>
	<%= f.label :creators, "select from existing creators" %><br />
	  <%= f.select "work_creator_ids", WorkCreator.all.map{|c| [c.name, c.id]}, {:include_blank=>true}, :size=>5, :multiple=>true %>
	  <p><%= add_child_link "... and / or click here to add new creators", f, :work_creators %></p>
  </p>
  <div id="work-creators">

  </div>
  <p>
    <%= f.label :medium %><br />
    <%= f.text_field :medium %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :year_created %><br />
    <%= f.text_field :year_created %>
  </p>
  <p>
    <%= f.label :work_type %><br />
    <%= f.select :work_type, WORK_TYPES %>
  </p>
  <p><%=f.label :items, "Select the items that were used in this art work" %>
  </p>
  <div id="work-items">
	 <% for item in Item.find(:all) %>  
	     <div>  
	       <%= check_box_tag "work[item_ids][]", item.id, @work.items.include?(item) %>  
	       <%= item.title %><%= item.subtitle.blank? ? "" : ": #{item.subtitle}" %>  
	     </div>  
	 <% end %>
  </div>
  <%= f.label :work_images, "Images" %>
  <div id="work-images">
    <% if @work.new_record? %>
       <%= render :partial => 'work_image', :locals => { :form => f, :work_image => @work.work_images.build } %>
       <% else %>
       <% f.fields_for :work_images do |work_image| %>

	          <% unless work_image.object.new_record? %>

	                <div class="work-image-thumbnail">
	                        <%= link_to( image_tag(work_image.object.image.url(:thumb)), work_image.object.image.url(:original) ) %>
	                        <%= work_image.check_box :_destroy %> remove and destroy
	                </div>

	          <% end %>        

	     <% end %>
	
    <% end %>

	
  </div>
  <%= add_object_link("Add more images", f, @work.work_images.build, "work_image", "#work-images") %>



  <p><%= f.submit %></p>
<% end %>
