<% title "Image" %>

<p>
  <strong>Item:</strong>
  <%=h @image.item %>
</p>
<p>
  <strong>Color:</strong>
  <%=h @image.color %>
</p>
<p>
  <strong>Image Type:</strong>
  <%=h @image.image_type %>
</p>
<p>
  <strong>Legacy:</strong>
  <%=h @image.legacy_id %>
</p>
<p>
  <strong>Is Marked:</strong>
  <%=h @image.is_marked %>
</p>

<p>
  <%= link_to "Edit", edit_image_path(@image) %> |
  <%= link_to "Destroy", @image, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", images_path %>
</p>
