<% title "Image" %>

<p>
  <strong>Item:</strong>
  <%=h @digital_asset.item.title %>
</p>
<p>
  <strong>Scan:</strong>
  <%= image_tag(@digital_asset.scan.url(:thumb)) %><br/>
</p>
<p>
  <strong>Color:</strong>
  <%=h @digital_asset.color %>
</p>
<p>
  <strong>Image Type:</strong>
  <%=h @digital_asset.image_type %>
</p>
<p>
  <strong>Legacy:</strong>
  <%=h @digital_asset.legacy_id %>
</p>
<p>
  <strong>Is Marked:</strong>
  <%=h @digital_asset.is_marked %>
</p>

<p>
  <%= link_to "Edit", edit_digital_asset_path(@digital_asset) %> |
  <%= link_to "Destroy", @digital_asset, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", digital_assets_path %>
</p>
