<%- content_for(:title) { "Reanimation Library - Image Archive - #{ @digital_asset.scan_file_name.gsub(/\.jpg/, "") }" } -%>
<% if @previous.nil? %>&lt; previous image<% else %><%= link_to "< previous image", digital_asset_path(@previous) %><% end %>&nbsp;&nbsp;&nbsp;<% if @next.nil? %>next image &gt;<% else %><%= link_to "next image >", digital_asset_path(@next) %><% end %>
<h2>Image</h2>
<div id="main-content">

<p>
  <%= image_tag(@digital_asset.scan.url(:large), :class=>"show-digital-asset") %><br/>
</p>
<p><strong><%= @digital_asset.scan_file_name.gsub(/\.jpg/, "") %></strong></p>
<% if logged_in? && current_user.is_administrator? %>
<div class="admin-link">
  <%= link_to "Edit this image", edit_digital_asset_path(@digital_asset) %> |
  <%= link_to "Permanently remove this image", @digital_asset, :confirm => 'Are you sure you want to permanently remove this image?', :method => :delete %> |
  <%= link_to "Destroy", digital_asset_path(@digital_asset), :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "View all images", digital_assets_path %>
</div>
<% end %>
<p>
  <strong>From the item:</strong>
  <%=raw content_tag "h2", link_to(raw("#{@digital_asset.item.title} #{(@digital_asset.item.subtitle.blank? ? "" : "<br />" + @digital_asset.item.subtitle)}"), item_path(@digital_asset.item)) %>
</p>
<p><strong>Other images from this item:</strong><br /><br />
<%= raw @digital_asset.item.digital_assets.map {|a| link_to(image_tag(a.scan.url(:thumb)), digital_asset_path(a), :class=>"digital-asset") unless a==@digital_asset  }.join(" &nbsp; ") %><br />
</p>


</div>