<% form_for @creator do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :first_name %> <%= f.text_field :middle_name %> <%= f.text_field :last_name %> <%= f.text_field :name_suffix %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p><%= f.submit %></p>
<% end %>
