<% title "Donors" %>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Suffix</th>
    <th>Creator Type</th>
  </tr>
  <% for creator in @creators %>
    <tr>
      <td><%= creator.first_name %></td>
      <td><%= creator.last_name %></td>
      <td><%= creator.name_suffix %></td>
      <td><%= creator.creator_type.try(:name) %></td>
      <td><%= link_to "Edit", edit_creator_path(creator), :class => 'btn' %></td>
      <td><%= link_to "Destroy", creator, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Creator", new_creator_path, :class => 'btn' %></p>
