<% form_for @item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :subtitle, "Sub-Title" %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :collection %><br />
    <%= f.select :collection_name, COLLECTIONS, :include_blank=>true %>	
  </p>
  
  <p>
	<%= f.label :donors, "select an existing donor" %><br />
	  <%= select_tag "item[donor_ids][]", options_for_select([""] +  Donor.all.map{|d| [d.name, d.id]}), :multiple=>true, :size=>5, :include_blank=>true %>
	  <p><%= add_child_link "or click here to add a new donor", :donors %></p>
	  <%= new_child_fields_template(f, :donors)%>
  </p>
  <p>
	<%= f.label :donors, "select an existing vendor" %><br />
	  <%= select_tag "item[vendor_id]", options_for_select([""] +  Vendor.all.map{|d| [d.name, d.id]}) %>
	  <p><%= add_child_link "or click here to add a new vendor", :donors %></p>
	  <%= new_child_fields_template(f, :donors)%>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
