<%- content_for :head do -%>
<script>
$(document).ready(function(){
	$("a#vendor-switch-link").click(function(){
		if ($(this).text() == "... or click here to add a new vendor"){
		  $(this).text("... or click here to select an existing vendor")
		  style = 'form';
		}else {
		  $(this).text("... or click here to add a new vendor");
		  style = 'dropdown'	
		}
		$.ajax({
	      url: '<%= new_vendor_path %>?style=' + style, type: 'get', dataType: 'script'
	    });	
		return false;
	})
	$("#item_date_acquired").datepicker();
	$("#item_acquisition_type").autocomplete({
	    source: <%= ACQUISITION_TYPES.to_json %>
	});
	$("#item_acquired_for").autocomplete({
	    source: <%= Item.all.map{|i| i.acquired_for}.uniq.to_json %>
	});	
	$("#item_vendor_attributes_city").autocomplete({
	    source: <%= Vendor.all.map(&:city).uniq.compact.sort.to_json %>
	});
})
</script>
<%- end -%>


  <p><%=f.label :donors %></p>
  <p>
	<%= f.label :donors, "select from existing donors" %><br />
	  <%= f.select "donor_ids", Donor.all.map{|d| [d.name, d.id]}, {:include_blank=>true}, :size=>5, :multiple=>true %>
	  <p><%= add_child_link "... and / or click here to add new donors", f, :donors %></p>
  </p>
  <div id="donors">

  </div>

  <p><%= f.label :vendor %></p>
  <p id="vendor">
  <%= render :partial => 'vendor_select', :locals=>{:f=>f} %>

  </p>
  <p><%= new_association_link "... or click here to add new vendor", f, "vendor", "$('#item_vendor_attributes_city').autocomplete({ source: #{Vendor.all.map(&:city).uniq.compact.sort.to_json}  });" %></p>
 <p><%= association_select_link "... or click here to select an existing vendor", f, "vendor" %></p>

  <p><%= f.label :date_acquired %><br />
	<%= f.text_field :date_acquired %> </p>
  <p><%= f.label :acquisition_type %><br />
  <%= f.text_field :acquisition_type %></p>

  <p><%= f.label :acquired_for %><br />
	<%= f.text_field :acquired_for %></p>
  <p><%= f.label :acquisition_note %><br />
	<%= f.text_area :acquisition_note %></p>
  <p><%= f.label :provenance %><br />
	<%= f.text_field :provenance %></p>

