<div class="creator-fields">
<p>
  <%= creator_form.label :name %><br />
  <%= creator_form.text_field :first_name %> <%= creator_form.text_field :middle_name %> <%= creator_form.text_field :last_name %> <%= creator_form.text_field :name_suffix %>
</p>
<p>
  <%= creator_form.label :type %><br />
  <%= creator_form.text_field :type %>
</p>
<p> <%= creator_form.link_to_remove "Remove this creator" %></p>
</div>