<div class="subform">

	<div class="fields">
		<br />
		<h2>Donor</h2>
	<p>
	  <%= f.label :name %><br />
	  <%= f.text_field :name %> <br />
	  <%= f.label :organization_name %><br />
	  <%= f.text_field :organization_name %> <br />
	</p>
	<p> <%= remove_child_link "remove this donor", f %></p>
	<br />
	</div>
</div>