<div class="subform">

	<div class="fields">
	<p>
	  <%= f.label :name, "Donor name" %><br />
	  <%= f.text_field :name %>
	</p>
	<p>
	  <%= f.label :organization_name, "Donor organization name" %><br />
	  <%= f.text_field :organization_name %> <br />
	</p>
	<p> <%= link_to "remove this donor", "#" %></p>
	</div>
</div>
