<% form_for @item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :subtitle, "Sub-Title" %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :collection %><br />
    <%= f.select :collection_name, COLLECTIONS, :include_blank=>true %>	
  </p>
  
  <p>
	<%= f.label :donors %><br />
	<% f.fields_for :donors do |donor_form| %>
	    <%= render :partial => 'donor', :locals => { :f => donor_form } %>
	  <% end %>
	  <p><%= add_child_link "add a donor", :donors %></p>
	  <%= new_child_fields_template(f, :donors)%>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
