

<h1>Edit Item</h1>
<% form_for @item do |f| %>
<p><%= f.label :title %><br />
	<%= f.text_field :title %></p>
<p><%= f.label :subtitle %><br />
	<%= f.text_field :subtitle %></p>
  <p>
    <%= f.label :collection %><br />
    <%= f.select :collection_name, COLLECTIONS, :include_blank=>true %>	
  </p>
<p><%=f.label :creators %>
</p>
<div id="creators">
  <% f.fields_for :creators do |creator_form| %>
    <%= render :partial => 'creator', :locals => {:f => creator_form} %>
  <% end %>
</div>
<p><%= add_child_link "click here to add a new creator", f, :creators %>  </p>

<div id ="publisher">
<h2>Publication Information</h2>
<p><%= f.label :name %><br />
	<%= f.text_field :publisher_name %></p>
<p><%= f.label :city %><br />
    <%= f.text_field :publisher_city %></p>
<p><%= f.label :state %><br />
	<%= f.text_field :publisher_state %></p>
<p><%= f.label :country %><br />
	<%= f.text_field :publisher_country %></p>	
<p><%= f.label :copyright %><br />
	<%= f.text_field :copyright %></p>
</div>	
<div id="physical_description">
	<h2>Physical Description</h2>
	<p><%= f.label :extent %><br />
		<%= f.text_field :extent %></p>
	<p><%= f.label :item_size %><br />
		<%= f.text_field :item_size %></p>
</div>
<div id="identifiers">
	<h2>Identifiers</h2>
	<p><%= f.label :call_number %><br />
		<%= f.text_field :call_number %></p>
	<p><%= f.label :barcode %><br />
		<%= f.text_field :barcode %></p>
	<p><%= f.label :isbn_issn, "ISBN / ISSN" %><br />
		<%= f.text_field :isbn_issn %></p>		
</div>
<%= render :partial=>'acquisition_form', :locals=>{:f=>f}%>
<%= f.submit %>
<% end %>
