<%- content_for :head do -%>
<script>
$(document).ready(function(){
	$("#item_publisher_name").autocomplete({
	    source: <%= Item.all.map{|i| i.publisher_name}.uniq.compact.sort.to_json %>
	});	
	$("#item_language").autocomplete({
	    source: <%= Item.all.map(&:language).uniq.compact.sort.to_json %>
	});
	$("#item_format").autocomplete({
		source: <%= Item.all.map(&:format).uniq.compact.sort.to_json %>
	});
	$("#item_series_name").autocomplete({
		source: <%= Item.all.map(&:series_name).uniq.compact.sort.to_json %>
	});
})
</script>
<%- end -%>
<% form_for @item, :html => { :multipart => true } do |f| %>

<p><%= f.label :title %><br />
	<%= f.text_field :title %></p>
<p><%= f.label :subtitle %><br />
	<%= f.text_field :subtitle %></p>
	<p><%= f.label :cover_image %></p>
	<%= image_tag(@item.cover_image.url(:thumb)) if @item.cover_image.file? %>
	<p>Upload a new cover image<br />
	<%= f.file_field :cover_image %></p>
  <p>
    <%= f.label :collection %><br />
    <%= f.select :collection_name, COLLECTIONS, :include_blank=>true %>	
  </p>
  <p>
    <%= f.label :series %><br />
    <%= f.text_field :series_name %>	
  </p>
  <p>
    <%= f.label :edition %><br />
    <%= f.text_field :edition %>	
  </p>
<p><%=f.label :creators %>
</p>
<div id="creators">
  <% f.fields_for :creators do |creator_form| %>
    <%= render :partial => 'creator', :locals => {:f => creator_form} %>
  <% end %>
</div>
<p><%= add_child_link "click here to add a new creator", f, :creators %>  </p>

<div id ="publisher">
<h2>Publication Information</h2>
<p><%= f.label :name %><br />
	<%= f.text_field :publisher_name %></p>
<p><%= f.label :city %><br />
    <%= f.text_field :publisher_city %></p>
<p><%= f.label :state %><br />
	<%= f.select :publisher_state, STATES %></p>
<p><%= f.label :country %><br />
	<%= f.select :publisher_country, COUNTRIES %></p>	
<p><%= f.label :copyright %><br />
	<%= f.text_field :copyright %></p>
<p><%= f.label :corporate_author %><br />
	<%= f.text_field :corporate_author %>
	</p>
<p><%= f.label :is_government_document, "Is government document?" %><br />
	<%= f.select :is_government_document, {"no"=>"false", "yes"=>"true" } %>
</p>


</div>	
<div id="physical_description">
	<h2>Physical Description</h2>
	<p><%= f.label :extent %><br />
		<%= f.text_field :extent %></p>
	<p><%= f.label :item_size %><br />
		<%= f.text_field :item_size %></p>
	<p><%= f.label :format %><br />
		<%= f.text_field :format %></p>
</div>
<div id="identifiers">
	<h2>Identifiers</h2>
	<p><%= f.label :call_number %><br />
		<%= f.text_field :call_number %></p>
	<p><%= f.label :barcode %><br />
		<%= f.text_field :barcode %></p>
	<p><%= f.label :isbn_issn, "ISBN / ISSN" %><br />
		<%= f.text_field :isbn_issn %></p>		
</div>
<div id="language">
	<p><%= f.label :language %><br />
		<%= f.text_field :language %></p>
</div>
<div id="location">
	<p><%= f.label :location %><br />
		<%= f.text_field :location %></p>
</div>
<div id="metadata">
	<h2>Metadata</h2>
	<p><%= f.label :has_marc_record, "Has a MARC record?" %><br />
		<%= f.select :has_marc_record, {"no"=>"false", "yes"=>"true"} %>
	</p>
	<p><%= f.label :needs_translation, "Needs Translation?" %><br />
		<%= f.select :needs_translation, {"no"=>"false", "yes"=>"true"} %>
	</p>
	<p><%= f.label :metadata_notes %><br />
		<%= f.text_area :metadata_notes %>
	</p>
</div>
<%= render :partial=>'acquisition_form', :locals=>{:f=>f}%>
<p><%= f.label :subjects %></p>
<% f.fields_for :subjects do |subject_form| %>
  <%= render :partial => 'subject', :locals => {:f => subject_form} %>
<% end %>
<p><%= add_child_link "... click here to add new subjects", f, :subjects, "$('.new-subject-textbox').autocomplete({ source: #{Subject.all.map(&:name).uniq.compact.sort.to_json}  });" %></p>
<div id="subjects">

</div>
<%= f.submit SAVE_TEXT %>&nbsp;&nbsp;<%= f.submit PUBLISH_TEXT %>
<% end %>
