<div class="subform">
	<div class="fields">
	<p>
	  <%= f.label :name, "Subject name" %><br />
	  <%= f.text_field :name, size: 75, :class=>"new-subject-textbox" %>
	</p>
	<p>
	  <%= f.label :authority, "Subject authority" %><br />
	  <%= f.select :authority, SUBJECT_AUTHORITIES %> <br />
	</p>
	<p> <%= remove_child_link "remove this subject", f %></p>
	</div>
</div>