<div class="subform">
	<div class="fields">
	<p>
	  <%= f.label :name, "Vendor name" %><br />
	  <%= f.text_field "name" %> <br />
	  <%= f.label :street, "Vendor street" %><br />
	  <%= f.text_field :street %> <br />
	  <%= f.label :city, "Vendor city" %><br />
	  <%= f.text_field :city %> <br />
	  <%= f.label :state, "Vendor state" %><br />
	  <%= f.select :state, STATES, :include_blank=>true %><br />
	  <%= f.label :zip, "Vendor zip" %><br />
	  <%= f.text_field :zip %><br />
	  <%= f.label :country, "Vendor country" %><br />
	  <%= f.select :country, COUNTRIES, :include_blank=>true %><br />
	  <%= f.label :url, "Vendor URL" %><br />
	  <%= f.text_field :url %><br />
	  <!-- move acquisition type here. Migrate data over. Check for inconsisitencies -->


	</p>
	<br />
	</div>
</div>