<div class="subform">
	<div class="fields">
		<h2>Add a new vendor</h2>
	<p>
	  <%= f.label :name %><br />
	  <%= f.text_field "name" %> <br />
	  <%= f.label :street %><br />
	  <%= f.text_field :street %> <br />
	  <%= f.label :city %><br />
	  <%= f.text_field :city %> <br />
	  <%= f.label :state %><br />
	  <%= f.text_field :state %><br />
	  <%= f.label :zip %><br />
	  <%= f.text_field :zip %><br />
	  <%= f.label :country %><br />
	  <%= f.text_field :country %><br />
	  <%= f.label :url %><br />
	  <%= f.text_field :url %><br />
	


	</p>
	<br />
	</div>
</div>