<% title "Browse by Title" %>
<h2><%= yield(:title) %></h2>
<%= pagination_links(params[:letter]) %>
  <div id="item-list">
  <% if logged_in? && current_user.is_administrator? %>
	  <div class="admin-link">
	    <%= link_to "Add a new item", new_item_path %><br />
	  </div> 
  <% end %>
  <%= render :partial => 'item', :collection=>@items %>

  </div>

 <%= pagination_links(params[:letter]) %>

