<h1>Items That Need Images</h2>
  <table id="item-list">
    <tr>
      <td class="item-id"><%= link_to "Item ID", :sort_by=>"items.id", :sort_order=>determine_sort_order('items.id', params[:sort_by] || 'call_number', params[:sort_order] || 'ASC') %>&nbsp;&nbsp;<%= show_order_image("items.id", params[:sort_by] || 'call_number', params[:sort_order] || 'ASC' ) %></td>
      <td class="call-number"><%= link_to "Call Number", :sort_by=>"call_number", :sort_order=>determine_sort_order('call_number', params[:sort_by] || 'call_number', params[:sort_order] || 'ASC') %>&nbsp;&nbsp;<%= show_order_image("call_number", params[:sort_by] || 'call_number', params[:sort_order] || 'ASC' ) %></td>
      <td class="title"><%= link_to "Title", :sort_by=>"alphabetical_title", :sort_order=>determine_sort_order('alphabetical_title', params[:sort_by], params[:sort_order]) %>&nbsp;&nbsp;<%= show_order_image("alphabetical_title", params[:sort_by], params[:sort_order]) %></td>
    </tr>
	<% @items.each do |item| %>
	  <tr class="<%= cycle("odd", "even") %>">
	    <td><%= item.id %></td><td><%= item.call_number.blank? ? "[blank]" : item.call_number %></td><td><%= item.display_title %></td><td><%= link_to "add an image", new_digital_asset_path(:item_id=>item.id) %></td>
	  </tr>
	<% end %>
	</table>