
<% if @previous.nil? %>&lt; previous item<% else %><%= link_to "&lt; previous item", item_path(@previous) %><% end %>&nbsp;&nbsp;&nbsp;<% if @next.nil? %>next item &gt;<% else %><%= link_to "next item &gt;", item_path(@next) %><% end %>
<h1>
	<%= "#{@item.title}" %>
</h1><%= content_tag 'h2', "#{@item.subtitle}" unless @item.subtitle.blank? %>
<div class="item-cover-image-large">
	<%= image_tag(@item.cover_image.url(:large)) %>
	<% if logged_in? && current_user.is_administrator? %>
	    <div class="admin-link">
	      <%= link_to 'Edit this item', edit_item_path(@item) %>
	    </div>
	  <% end %>
</div>

<div class="item-data-show">

  <div class="item-creators">
    <div class="item-label">
      Creator(s):
    </div> 
    <div class="item-content"><%= @item.creators.map{|c| c.display_name }.join("<br />") %></div>
  </div>
	<div class="item-publisher">
		<div class="item-label">Publisher:</div> 
		<div class="item-content"><%=h @item.publisher_name %><%= @item.publisher_city.nil? ? "" : "; " + @item.publisher_city %><%=h @item.publisher_state.nil? ? "" : ", " + @item.publisher_state %></div>
	</div>
	<div class="item-year">
		<div class="item-label">Year:</div> <div class="item-content"><%=h @item.copyright %></div>
	</div>
	<div class="item-pages">
		<div class="item-label">Pages:</div> <div class="item-content"><%=h @item.extent %></div>
	</div>
	<div class="item-size">
		<div class="item-label">Size:</div> <div class="item-content"><%=h @item.item_size %></div>
	</div>
	<div class="item-call-number">
		<div class="item-label">Call Number:</div> <div class="item-content"><%=h @item.call_number %></div>
	</div>
	<div class="item-subjects">
		<div class="item-label">Subject(s):</div> <div class="item-content"><%= @item.subjects.map{|s|link_to(s.name, subject_path(s)) }.join(", ") %></div>
	</div>
	<div class="item-library-id">
		<div class="item-label">Library ID:</div> <div class="item-content"><%=h @item.id %></div>
	</div>
	<div class="item-collection">
		<div class="item-label">Collection:</div> <div class="item-content"><%=h @item.collection_name.split(": ")[1] %></div>
	</div>
	<div class="item-format">
		<div class="item-label">Format:</div> <div class="item-content"><%=h @item.physical_format %></div>
	</div>

	<%= print_unless_blank(@item.languages.map(&:name).join("<br />"), "Languages") %>
	<%= print_unless_blank(@item.provenance, "Provenance") %>
	<%= print_unless_blank(@item.dedication, "Dedication") %>
  <%= print_unless_blank(@item.vendor_location, "Vendor location")%>
  <%= print_unless_blank(@item.acquisition_type, "Acquisition type")%>
  <%= print_unless_blank(@item.vendor_location, "Vendor location")%>

	<% unless @item.donors.empty? %>
	<div class="item-donors">
		<div class="item-label">Donors:</div> <div class="item-content"><%= @item.donors.map {|d| d.name}.join("; ") %></div>
	</div>
	<% end %>
	
	<% if logged_in? && current_user.is_administrator? %>
	<div class="item-copyright">
		<div class="item-label">Copyright:</div><div class="item-content"> <%=h @item.copyright %></div>
	</div>
	<div class="item-barcode">
		<div class="item-label">Barcode:</div> <div class="item-content"><%=h @item.barcode %></div>
	</div>
	<div class="item-has-marc-record">
		<div class="item-label">Has MARC record?:</div> <div class="item-content"><%=h @item.has_marc_record %></div>
	</div>
	<div class="item-metadata-notes">
		<div class="item-label">Metadata notes:</div> <div class="item-content"><%=h @item.metadata_notes %></div>
	</div>
	<div class="item-corporate-author">
		<div class="item-label">Corporate author:</div> <div class="item-content"><%=h @item.corporate_author %></div>
	</div>
	<div class="item-isbn-issn">
		<div class="item-label">ISBN/ISSN:</div> <div class="item-content"><%=h @item.isbn_issn %></div>
	</div>
	<div class="item-is-government-document">
		<div class="item-label">Is government document?:</div><div class="item-content"> <%=h @item.is_government_document %></div>
	</div>
	<div class="item-edition">
		<div class="item-label">Edition:</div> <div class="item-content"><%=h @item.edition %></div>
	</div>
	<div class="item-notes">
		<div class="item-label">Notes:</div> <div class="item-content"><%=h @item.notes %></div>
	</div>
	<div class="item-series-name">
		<div class="item-label">Series name:</div> <div class="item-content"><%=h @item.series_name %></div>
	</div>
	<div class="item-needs-translation">
		<div class="item-label">Needs translation?:</div> <div class="item-content"><%=h @item.needs_translation %></div>
	</div>
	<div class="item-location">
		<div class="item-label">Location:</div> <div class="item-content"><%=h @item.location %></div>
	</div>
	<div class="item-vendor">
		<div class="item-label">Vendor:</div> <div class="item-content"><%=h @item.vendor.blank? ? '' : @item.vendor.name %></div>
	</div>
	<div class="item-date-acquired">
		<div class="item-label">Date acquired:</div> <div class="item-content"><%=h @item.date_acquired.blank? ? "" : @item.date_acquired.strftime("%m/%d/%Y") %></div>
	</div>
	<div class="item-price-paid">
		<div class="item-label">Price paid :</div> <div class="item-content"><%=h number_to_currency(@item.price_paid) %></div>
	</div>

	<div class="item-acquisition-notes">
		<div class="item-label">Acquisition notes:</div> <div class="item-content"><%=h @item.acquisition_note %></div>
	</div>
	<div class="item-acquired-for">
		<div class="item-label">Acquired for:</div> <div class="item-content"><%=h @item.acquired_for %></div>
	</div>
	<% end %>
	<div class="item-images">
		<h2>
			Images from this book:
		</h2>
		<%= @item.digital_assets.map {|a| link_to(image_tag(a.scan.url(:thumb)), digital_asset_path(a), :class=>"digital-asset") }.join("") %>
	</div>
</div>

