
<% if @previous.nil? %>&lt; previous item<% else %><%= link_to "&lt; previous item", item_path(@previous) %><% end %>&nbsp;&nbsp;&nbsp;<% if @next.nil? %>next item &gt;<% else %><%= link_to "next item &gt;", item_path(@next) %><% end %>
<h1>
	<%= "#{@item.title}" %>
</h1><%= content_tag 'h2', "#{@item.subtitle}" unless @item.subtitle.blank? %>
<div class="item-cover-image-large">
	<%= image_tag(@item.cover_image.url(:large)) %>
	<% if logged_in? && current_user.is_administrator? %>
	    <div class="admin-link">
	      <%= link_to 'Edit this item', edit_item_path(@item) %>
	    </div>
	  <% end %>
</div>

<div class="item-data-show">
	<div class="item-creators">
		<label>Creator(s):</label> <%= @item.creators.map{|c| c.display_name }.join("; ")%>
	</div>
	<div class="item-publisher">
		<label>Publisher:</label> <%=h @item.publisher_name %><%= @item.publisher_city.nil? ? "" : "; " + @item.publisher_city %><%=h @item.publisher_state.nil? ? "" : ", " + @item.publisher_state %>
	</div>
	<div class="item-year">
		<label>Year:</label> <%=h @item.copyright %>
	</div>
	<div class="item-pages">
		<label>Pages:</label> <%=h @item.extent %>
	</div>
	<div class="item-size">
		<label>Size:</label> <%=h @item.item_size %>
	</div>
	<div class="item-call-number">
		<label>Call Number:</label> <%=h @item.call_number %>
	</div>
	<div class="item-subjects">
		<label>Subject(s):</label> <%= @item.subjects.map{|s|link_to(s.name, subject_path(s)) }.join(", ") %>
	</div>
	<div class="item-library-id">
		<label>Library ID:</label> <%=h @item.id %>
	</div>
	<div class="item-collection">
		<label>Collection:</label> <%=h @item.collection_name.split(": ")[1] %>
	</div>
	<div class="item-format">
		<label>Format:</label> <%=h @item.physical_format %>
	</div>

	<%= print_unless_blank(@item.language, "Language") %>
	<%= print_unless_blank(@item.provenance, "Provenance") %>
	<%= print_unless_blank(@item.dedication, "Dedication") %>
  <%= print_unless_blank(@item.vendor_location, "Vendor location")%>
  <%= print_unless_blank(@item.acquisition_type, "Acquisition type")%>
  <%= print_unless_blank(@item.vendor_location, "Vendor location")%>

	<% unless @item.donors.empty? %>
	<div class="item-donors">
		<label>Donors:</label> <%= @item.donors.map {|d| d.name}.join("; ") %>
	</div>
	<% end %>
	
	<% if logged_in? && current_user.is_administrator? %>
	<div class="item-copyright">
		<label>Copyright:</label> <%=h @item.copyright %>
	</div>
	<div class="item-barcode">
		<label>Barcode:</label> <%=h @item.barcode %>
	</div>
	<div class="item-has-marc-record">
		<label>Has MARC record?:</label> <%=h @item.has_marc_record %>
	</div>
	<div class="item-metadata-notes">
		<label>Metadata notes:</label> <%=h @item.metadata_notes %>
	</div>
	<div class="item-corporate-author">
		<label>Corporate author:</label> <%=h @item.corporate_author %>
	</div>
	<div class="item-isbn-issn">
		<label>ISBN/ISSN:</label> <%=h @item.isbn_issn %>
	</div>
	<div class="item-is-government-document">
		<label>Is government document?:</label> <%=h @item.is_government_document %>
	</div>
	<div class="item-edition">
		<label>Edition:</label> <%=h @item.edition %>
	</div>
	<div class="item-notes">
		<label>Notes:</label> <%=h @item.notes %>
	</div>
	<div class="item-series-name">
		<label>Series name:</label> <%=h @item.series_name %>
	</div>
	<div class="item-needs-translation">
		<label>Needs translation?:</label> <%=h @item.needs_translation %>
	</div>
	<div class="item-location">
		<label>Location:</label> <%=h @item.location %>
	</div>
	<div class="item-vendor">
		<label>Vendor:</label> <%=h @item.vendor.blank? ? '' : @item.vendor.name %>
	</div>
	<div class="item-date-acquired">
		<label>Date acquired:</label> <%=h @item.date_acquired.blank? ? "" : @item.date_acquired.strftime("%m/%d/%Y") %>
	</div>
	<div class="item-price-paid">
		<label>Price paid :</label> <%=h number_to_currency(@item.price_paid) %>
	</div>

	<div class="item-acquisition-notes">
		<label>Acquisition notes:</label> <%=h @item.acquisition_note %>
	</div>
	<div class="item-acquired-for">
		<label>Acquired for:</label> <%=h @item.acquired_for %>
	</div>
	<% end %>
	<div class="item-images">
		<h2>
			Images from this book:
		</h2>
		<%= @item.digital_assets.map {|a| link_to(image_tag(a.scan.url(:thumb)), digital_asset_path(a), :class=>"digital-asset") }.join("") %>
	</div>
</div>

