
<% if @previous.nil? %>&lt; previous item<% else %><%= link_to "&lt; previous item", item_path(@previous) %><% end %>&nbsp;&nbsp;&nbsp;<% if @next.nil? %>next item &gt;<% else %><%= link_to "next item &gt;", item_path(@next) %><% end %>
<h1>
	<%= "#{@item.title}" %>
</h1><%= content_tag 'h2', "#{@item.subtitle}" unless @item.subtitle.blank? %>
<div class="item-cover-image-large">
	<%= image_tag(@item.cover_image.url(:large)) %>
	<% if logged_in? && current_user.is_administrator? %>
	    <div class="admin-link">
	      <%= link_to 'Edit this item', edit_item_path(@item) %>
	    </div>
	  <% end %>
</div>
<div class="item-data">
	<div class="item-creators">
		<span class="label">Creator(s):</span> <%= @item.creators.map{|c| c.display_name }.join("; ")%>
	</div>
	<div class="item-publisher">
		<span class="catalog-label">Publisher:</span> <%=h @item.publisher_name %><%= @item.publisher_city.nil? ? "" : "; " + @item.publisher_city %><%=h @item.publisher_state.nil? ? "" : ", " + @item.publisher_state %>
	</div>
	<div class="item-year">
		<span class="catalog-label">Year:</span> <%=h @item.copyright %>
	</div>
	<div class="item-pages">
		<span class="catalog-label">Pages:</span> <%=h @item.extent %>
	</div>
	<div class="item-size">
		<span class="catalog-label">Size:</span> <%=h @item.item_size %>
	</div>
	<div class="item-call-number">
		<span class="catalog-label">Call Number:</span> <%=h @item.call_number %>
	</div>
	<div class="item-subjects">
		<span class="catalog-label">Subject(s):</span> <%= @item.subjects.map{|s|link_to(s.name, subject_path(s)) }.join(", ") %>
	</div>
	<div class="item-library-id">
		<span class="catalog-label">Library ID:</span> <%=h @item.legacy_id %>
	</div>
	<div class="item-collection">
		<span class="catalog-label">Collection:</span> <%=h @item.collection_name.split(": ")[1] %>
	</div>
	<div class="item-copyright">
		<span class="catalog-label">Copyright:</span> <%=h @item.copyright %>
	</div>
	<div class="item-barcode">
		<span class="catalog-label">Barcode:</span> <%=h @item.barcode %>
	</div>
	<div class="item-has-marc-record">
		<span class="catalog-label">Has MARC record?:</span> <%=h @item.has_marc_record %>
	</div>
	<div class="item-metadata-notes">
		<span class="catalog-label">Metadata notes:</span> <%=h @item.metadata_notes %>
	</div>
	<div class="item-corporate-author">
		<span class="catalog-label">Corporate author:</span> <%=h @item.corporate_author %>
	</div>
	<div class="item-isbn-issn">
		<span class="catalog-label">ISBN/ISSN:</span> <%=h @item.isbn_issn %>
	</div>
	<div class="item-language">
		<span class="catalog-label">Language:</span> <%=h @item.language_id.blank? ? '' : item.language.name %>
	</div>
	<div class="item-is-government-document">
		<span class="catalog-label">Is government document?:</span> <%=h @item.is_government_document %>
	</div>
	<div class="item-edition">
		<span class="catalog-label">Edition:</span> <%=h @item.edition %>
	</div>
	<div class="item-notes">
		<span class="catalog-label">Notes:</span> <%=h @item.notes %>
	</div>
	<div class="item-series-name">
		<span class="catalog-label">Series name:</span> <%=h @item.series_name %>
	</div>
	<div class="item-needs-translation">
		<span class="catalog-label">Needs translation?:</span> <%=h @item.needs_translation %>
	</div>
	<div class="item-location">
		<span class="catalog-label">Location:</span> <%=h @item.location %>
	</div>
	<div class="item-vendor">
		<span class="catalog-label">Vendor:</span> <%=h @item.vendor.blank? ? '' : @item.vendor.name %>
	</div>
	<div class="item-date-acquired">
		<span class="catalog-label">Date acquired:</span> <%=h @item.date_acquired.blank? ? "" : @item.date_acquired.strftime("%m/%d/%Y") %>
	</div>
	<div class="item-price-paid">
		<span class="catalog-label">Price paid :</span> <%=h number_to_currency(@item.price_paid) %>
	</div>
	<div class="item-acquisition-type">
		<span class="catalog-label">Acquisition type:</span> <%=h @item.acquisition_type %>
	</div>
	<div class="item-gift-type">
		<span class="catalog-label">Gift type:</span> <%=h @item.gift_type %>
	</div>
	<div class="item-acquisition-notes">
		<span class="catalog-label">Acquisition notes:</span> <%=h @item.acquisition_note %>
	</div>
	<div class="item-acquired-for">
		<span class="catalog-label">Acquired for:</span> <%=h @item.acquired_for %>
	</div>
	<div class="item-donors">
		<span class="catalog-label">Donors:</span> <%= @item.donors.map {|d| d.name}.join("; ") %>
	</div>
	<div class="item-images">
		<h2>
			Images from this book:
		</h2>
		<%= @item.digital_assets.map {|a| link_to(image_tag(a.scan.url(:thumb)), digital_asset_path(a), :class=>"digital-asset") }.join("") %>
	</div>
</div>

