<% title "Log in" %>
<div id="login" style="height:500px;">
<%= content_tag 'h2', yield(:title) %>
<%= form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Log in" %></p>
<% end %>
</div>
