<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<title>Reanimation Library - Catalog</title>
<meta name="Generator" content="TextPad 4.6">
<meta name="Author" content="?">
<meta name="Keywords" content="?">
<meta name="Description" content="?">
<%= javascript_include_tag 'jquery', 'application' %>

<%= stylesheet_link_tag 'http://reanimationlibrary.org/pages/page.css', 'application', 'admin' %>
<link href="print.css" type="text/css" rel="stylesheet" media="print">
<link rel="shortcut icon" href="<%= image_path "nav/logo.ico"%>">
<%= yield :head %>
</head>
<body bgcolor="#DBD7D8"><!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=1031477;
var sc_invisible=1;
var sc_partition=9;
var sc_security="e77d3ad9";
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c10.statcounter.com/counter.php?sc_project=1031477<BODY BGCOLOR="#DBD7D8">amp;java=0<BODY BGCOLOR="#DBD7D8">amp;security=e77d3ad9<BODY BGCOLOR="#DBD7D8">amp;invisible=1 " alt="free geoip" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
<script language="JavaScript">
<!--

if (document.images) {
    head1on  = new Image(); head1on.src  = "<%= image_path "nav/header1.jpg" %>";
    head1off = new Image(); head1off.src = "<%= image_path "nav/header.jpg" %>";
    nav1on   = new Image(); nav1on.src   = "<%= image_path "nav/catalog1.jpg" %>";
    nav1off  = new Image(); nav1off.src  = "<%= image_path "nav/catalog1.jpg" %>";
    nav2on   = new Image(); nav2on.src   = "<%= image_path "nav/about1.jpg" %>";
    nav2off  = new Image(); nav2off.src  = "<%= image_path "nav/about.jpg" %>";
    nav3on   = new Image(); nav3on.src   = "<%= image_path "nav/news1.jpg" %>";
    nav3off  = new Image(); nav3off.src  = "<%= image_path "nav/news.jpg" %>";
    nav4on   = new Image(); nav4on.src   = "<%= image_path "nav/links1.jpg" %>";
    nav4off  = new Image(); nav4off.src  = "<%= image_path "nav/links.jpg" %>";
    nav5on   = new Image(); nav5on.src   = "<%= image_path "nav/participate1.jpg" %>";
    nav5off  = new Image(); nav5off.src  = "<%= image_path "nav/participate.jpg" %>";
    nav6on   = new Image(); nav6on.src   = "<%= image_path "nav/merch1.jpg" %>";
    nav6off  = new Image(); nav6off.src  = "<%= image_path "nav/merch.jpg" %>";
    nav7on   = new Image(); nav7on.src   = "<%= image_path "nav/contact1.jpg" %>";
    nav7off  = new Image(); nav7off.src  = "<%= image_path "nav/contact.jpg" %>";
    icon3on   = new Image(); icon3on.src   = "<%= image_path "nav/browseicon1.jpg" %>";
    icon3off  = new Image(); icon3off.src  = "<%= image_path "nav/browseicon.jpg" %>";
        icon2on   = new Image(); icon2on.src   = "<%= image_path "nav/cdicon1.jpg" %>";
	    icon2off  = new Image(); icon2off.src  = "<%= image_path "nav/cdicon.jpg" %>";
	    icon4on   = new Image(); icon4on.src   = "<%= image_path "nav/imagearchiveicon1.jpg" %>";
    icon4off  = new Image(); icon4off.src  = "<%= image_path "nav/imagearchiveicon.jpg" %>";
    icon4on   = new Image(); icon4on.src   = "<%= image_path "nav/imagearchiveicon1.jpg" %>";
    icon4off  = new Image(); icon4off.src  = "<%= image_path "nav/imagearchiveicon.jpg" %>";
    button1on   = new Image(); button1on.src   = "<%= image_path "nav/sbutton1.jpg" %>";
	button1off  = new Image(); button1off.src  = "<%= image_path "nav/sbutton.jpg" %>";

}

function rollOn(img1,text){
    window.status = text;
    if (document.images) {
        document[img1].src=eval(img1 + "on.src");
    }
}

function rollOff(img1){
    window.status = "";
    if (document.images) {
		document[img1].src=eval(img1 + "off.src");
	}
}

//-->
</script>
<div class="content">
<div class="pagebody">
<div class="bigheader">
<table class="topnav" border="0" cellpadding="1">
<tr><td rowspan="3" width="52"><img src="<%= image_path "nav/logo.jpg" %>" alt="logo" width="42" height="42" style="border:none; margin-top: 2px;"></tr>
<tr><td colspan="7"><a href="../index.htm" onmouseover="rollOn('head1','head1 text'); return true;" onmouseout="rollOff('head1'); return true;"><img name="head1" src="<%= image_path "nav/header.jpg" %>"  alt="reanimation library" align="left" width="295" height="28" style="border:none" hspace="0"></a></tr>
<tr><td><a href="../pages/catalog.htm" onmouseover="rollOn('nav1','nav1 text'); return true;" onmouseout="rollOff('nav1'); return true;"><img name="nav1" src="<%= image_path "nav/catalog1.jpg" %>" alt="catalog" width="52" height="15" style="border:none"></a></td><td><a href="../pages/about.htm" onmouseover="rollOn('nav2','nav2 text'); return true;" onmouseout="rollOff('nav2'); return true;"><img name="nav2" src="<%= image_path "nav/about.jpg" %>" alt="about" width="44" height="15" style="border:none"></a></td><td><a href="../pages/news.htm" onmouseover="rollOn('nav3','nav3 text'); return true;" onmouseout="rollOff('nav3'); return true;"><img name="nav3" src="<%= image_path "nav/news.jpg" %>" alt="news" width="36" height="15" style="border:none"></a></td><td><a href="../pages/links.htm" onmouseover="rollOn('nav4','nav4 text'); return true;" onmouseout="rollOff('nav4'); return true;"><img name="nav4" src="<%= image_path "nav/links.jpg" %>" alt="links" width="37" height="15" style="border:none"></a></td><td><a href="../pages/participate.htm" onmouseover="rollOn('nav5','nav5 text'); return true;" onmouseout="rollOff('nav5'); return true;"><img name="nav5" src="<%= image_path "nav/participate.jpg" %>" alt="participate" width="70" height="15" style="border:none"></a></td><td><a href="../pages/merch.htm" onmouseover="rollOn('nav6','nav6 text'); return true;" onmouseout="rollOff('nav6'); return true;"><img name="nav6" src="<%= image_path "nav/merch.jpg" %>" alt="merchandise" width="80" height="15" style="border:none"></a></td><td><a href="../pages/contact.htm" onmouseover="rollOn('nav7','nav7 text'); return true;" onmouseout="rollOff('nav7'); return true;"><img name="nav7" src="<%= image_path "nav/contact.jpg" %>" alt="contact" width="57" height="15" style="border:none"></a></td></tr>
</table></div>
<p class="navigation"><a href="../index.htm">home</a> > catalog</p>
<div class="yeild">
<%= yield %>
</div>
</div>
</div>
</div>
</body>
</html>